.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-container p {
    margin-bottom: 20px;
}

.top-title {
    font-size: 80px;
    font-weight: 800;
}

.sub-title {
    font-weight: 500;
    font-size: 18px;
    max-width: 500px;
}

.purple {
    color: #9873FF;
}

.top-container img {
    width: 816px;
    height: 744px;
}