.Details-heading{
    margin-top: 0;
    height: 250px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
}

.details-container {
    margin: 50px auto;
    width: 80%;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.details-title {
    font-weight: 800;
    font-size: 16px;
}

.details-description {
    font-weight: 500;
    font-size: 16px;
}

.flex{
    display: flex;
    align-items: center;
    gap: 12px;
}

.flex-column{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn-width{
    width: 100%;
}

.data-details-container{
    padding: 20px;
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.1) 0%, rgba(152, 115, 255, 0.1) 100%);
border-radius: 8px;
}