

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
}

.link{
    display: flex;
    gap: 25px;
    font-size: 20px;
}

nav p{
    font-size: xx-large;
    font-weight: 500;
}

.btn{
    padding: 19px 28px;
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    color: white;
}


/*phone devices*/
@media only screen and (max-width:688px) {
    .navbar{
        flex-direction: column;
        align-items: start;
        padding-left: 30px;
        padding-right: 0;
    }

    .link{
        flex-direction: column;
        gap: 5px;
        margin-bottom: 20px;
    }

    .btn{
        padding: 15px 20px;
    }
}    