.container {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0;
}

.description {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 30px;
}

.jobs {
    display: flex;
    gap: 25px;
    align-items: center;
}

.job {
    padding: 20px 40px;
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
    border-radius: 8px;
}