.container {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;/**/
}

.title {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0;
}

.description {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 30px;
}

.jobs {
    display: flex;
    gap: 25px;
    align-items: center;
}

.job {
    padding: 20px 40px;
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
    border-radius: 8px;
}


/*phone devices*/
@media only screen and (max-width:688px) {
    .container{
        width: 250px;
    }

    .jobs{
        display: block;
    }

    .job{
        margin-bottom: 20px;
    }

    .title {
        font-weight: 500;
        font-size: 30px;
        margin-bottom: 0;
    }

    .description {
        font-weight: 300;
        font-size: 16px;
        margin-bottom: 30px;
        text-align: center;
        max-width: 250px; /**/
    }
}    